.App {
  margin: 50px
}

.App-logo {
  height: 40vmin;
}

.App-chat {
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-list{
  overflow: scroll;
  max-height: 600px;
  max-width: 1200px
}

.App-badge{
  text-align: center;
}

.App-toast{
  text-align: center;
}

.App-toast-div{
  text-align: center;
}