global
  log  127.0.0.1  local0
  log  127.0.0.1  local1 notice
  maxconn  4096

defaults
  log   global
  mode  http
  option httplog
  option http-server-close
  option dontlognull
  option redispatch
  option contstats
  option forwardfor
  retries  3
  maxconn  2000
  timeout connect  5000
  timeout client  50000
  timeout server  50000

listen stats
    bind  *:20000
    mode  http
    stats enable
    stats refresh 3s
    stats uri /
    timeout client 10000
    timeout connect 10000
    timeout server 30000
    stats auth guest:guest

frontend front_api
  bind *:80
  default_backend back_api

backend back_api
  timeout check 1s
  cookie HAPROXY_COOKIE insert indirect nocache
  balance roundrobin
  server webapp1 webapp1:80 weight 10 maxconn 1024 cookie webapp_ws check inter 10000 rise 1 fall 1 check cookie webapp1
  server webapp2 webapp2:80 weight 10 maxconn 1024 cookie webapp_ws check inter 10000 rise 1 fall 1 check cookie webapp2

frontend front_sql
	bind *:1433 name mssql
  mode tcp
	default_backend back_sql

backend back_sql
  mode tcp
  server mssql mssql:1433 check inter 1s

frontend front_cache
	bind *:6379 name redis
	default_backend back_cache

backend back_cache
  option tcp-check
  tcp-check send PING\r\n
	tcp-check expect string +PONG
	tcp-check send info\ replication\r\n
	tcp-check expect string role:master
	tcp-check send QUIT\r\n
	tcp-check expect string +OK
  server redis redis:6379 check inter 1s